api/node_modules
applet/node_modules
applet/build/release.d.ts
applet/build/release.js
applet/build/release.wasm.map
applet/build/release.wat
arduino/ECCX08 signatures/log.txt
blockchain/artifacts
blockchain/cache
blockchain/deployments
blockchain/node_modules
blockchain/.env
simulator/node_modules
simulator/.env
simulator/private.key
pysim/.env
pysim/private.key
metamask-hardhat/node_modules
.vscode